.cache
.clangd
.xmake
build
msbuild
compile_commands.json
/output/Win32/*.exe
/output/Win32/rime.dll
/output/Win32/*.pdb
/lib*/rime.lib
/lib*/*.dll
/lib*/*.pdb
/output/*.exp
/output/Win32/*.exp
/output/*.ilk
/output/*.iobj
/output/*.ipdb
/output/*.pdb
/output/*.lib
/output/Win32/*.lib
/output/*.exe
/output/rime.dll
/output/weasel*.dll
/output/*.ime
/output/*.txt
/output/*.bat
/output/data/essay.txt
/output/data/opencc/
/output/data/*.yaml
/output/archives
/include/glog
/include/rime*.h
/ipch
env.bat
weasel.props
*.log
*.user
*.suo
*.sdf
*.opensdf
*.aps
*~
.*.swp
*.swp
.vs
Thumbs.db
/.idea
/cmake-build-debug
*.VC.db
release-notes.html
*.7z
RELEASE_CHANGELOG.md
deps/
arm64x_wrapper/*.o
arm64x_wrapper/*.dll
arm64x_wrapper/*.ime
arm64x_wrapper/*.lib
arm64x_wrapper/*.exp