skip_tags: true
clone_depth: 1
pull_requests:
  do_not_increment_build_number: true

version: '{branch} build {build}'
image: Visual Studio 2017

environment:
  BOOST_ROOT: C:\Libraries\libboost
  CMAKE_GENERATOR: "Visual Studio 15 2017"
  PLATFORM_TOOLSET: v141_xp

cache:
  - boost.cached -> appveyor.install.bat
  - C:\Libraries\libboost -> appveyor.install.bat

init:
  - git --version
  - git config --global core.autocrlf true

install:
  - .\appveyor.install.bat

build_script:
  - .\build.bat data hant installer

artifacts:
  - path: output\archives\weasel-0.13.0.0-installer.exe
    name: Weasel
