rem Customize your build environment and save the modified copy to env.bat

rem REQUIRED: path to Boost source directory
set BOOST_ROOT=C:\Libraries\boost_1_78_0

rem OPTIONAL: Visual Studio version and platform toolset
rem set BJAM_TOOLSET=msvc-14.2
rem set PLATFORM_TOOLSET=v142

rem OPTIONAL: path to additional build tools
rem set DEVTOOLS_PATH=%ProgramFiles%\Git\cmd;%ProgramFiles%\Git\usr\bin;%ProgramFiles%\CMake\bin;
