rem Customize your build environment and save the modified copy to env.bat

rem REQUIRED: path to Boost source directory
set BOOST_ROOT=%USERPROFILE%\source\vendor\boost_1_60_0

rem OPTIONAL: Visual Studio version and platform toolset
rem set BJAM_TOOLSET=msvc-14.0
rem set CMAKE_GENERATOR="Visual Studio 14 2015"
rem set PLATFORM_TOOLSET=v140_xp

rem OPTIONAL: path to additional build tools
rem set DEVTOOLS_PATH=%ProgramFiles%\Git\cmd;%ProgramFiles%\Git\usr\bin;%ProgramFiles%\CMake\bin;C:\Python27;
