name: Commit CI

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
    tags:
      - '![0-9]+.*'
    paths:
      - '**/**'
      - '!*.md'
      - '!.gitignore'
  pull_request:

jobs:
  build:
    runs-on: windows-2019
    env:
      boost_version: 1.84.0
      BOOST_ROOT: ${{ github.workspace }}\deps\boost_1_84_0
    steps:
      - name: Checkout last commit
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Cache llvm
        id: cache-llvm
        uses: actions/cache@v4
        with:
          path: C:\\Program Files\\LLVM
          key: ${{ runner.os }}-llvm-17.0.6

      - name: Install llvm
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: choco install llvm --version=17.0.6

      - name: Code style lint
        shell: bash
        run: ./clang-format.sh -i

      - name: Configure build environment
        shell: bash
        run: |
          cp env.vs2019.bat env.bat

      - name: Cache Boost
        id: cache-boost
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.BOOST_ROOT }}
          key: ${{ runner.os }}-boost-${{ env.boost_version }}

      # install boost if not cached
      - name: Install Boost
        if: steps.cache-boost.outputs.cache-hit != 'true'
        shell: bash
        run: |
          ./install_boost.bat
          ./build.bat boost arm64

      # add msbuild to PATH
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      # use upper stream released librime files if stable release
      - name: Copy Rime files
        run: |
          .\github.install.bat

      - name: Build data
        run: |
          .\build.bat data

      - name: Build Weasel
        id: build_weasel
        run: |
          .\build.bat arm64 installer

      - name: Compress Debug Symbols
        shell: pwsh
        run: |
          Compress-Archive -Path output\*.pdb -CompressionLevel Optimal -DestinationPath .\output\archives\symbols.zip

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: |
            .\output\archives\weasel*.exe
            .\output\archives\symbols.zip
